.App {
  padding: 20px;
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabs button {
  margin-right: 8px;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #5F6367
}

.tabs button.active {
  color: #000;
}

.tabs button:hover {
  color: #000;
}

.story-list {
  list-style: none;
  padding: 0;
}

.story-list li {
  margin-bottom: 12px;
}

.story-list a {
  font-weight: bold;
  color: #0070f3;
  text-decoration: none;
}
